    Screen {
        layout: grid;
        align: center middle;
    }

    Grid  {
        grid-size: 3 ;
        background: purple 20%;
        margin-top: 0;

    }

    Label {
       margin-top: 5;
    }

    .static_value {
        padding: 4 ;
        color: white;
        text-style: bold;
        border: thick blue 70%;
        content-align: center middle;
        background: lightblue 40%;

    }

    .variable_value {
        padding: 4;
        color: white;
        text-style: bold;
        border: thick yellow 80%;
        background: lightyellow 40%;
        content-align: center middle;
    }



    Horizontal {
        width: auto;
    }


    #header1 {
        color: cyan;
    }

    #rule1 {
        color: orange;
        margin-top: 0;
        dock: top;
    }

    #rule2 {
        color: green;
        align: center middle;
        dock: top;
    }

