

    Container {
            align: left top;
            text-style: bold;
    }

    #click1 {
        margin: 1 0;
        color: green;
        text-style: italic;
    }

    #click2 {
        margin: 1 0;
        color: blue;
    }

    #label1 {
        border: solid red;
        margin: 0 0;
        color: yellow;
    }

    #label2 {
        margin: 0 0;
        color: purple;
    }


